nav
    ul.nav.nav-fill.nav-pills
        li.nav-item
            a.nav-link(href='#') Home
        li.nav-item
            a.nav-link(href='#') Guitars
        li.nav-item
            a.nav-link(href='#') Genres