nav
    ul.nav.nav-fill.nav-pills
        li.nav-item
            a.nav-link(href='../') Home
        li.nav-item
            a.nav-link(href='../guitars') Canadian Guitars
        li.nav-item
            a.nav-link(href='../map') Godin Factory
        li.nav-item
            a.nav-link(href='../videos') Guitar Videos
        li.nav-item
            a.nav-link(href='../users/profile') Profile
        li.nav-item
            a.nav-link(href='../auth/logout') Logout