nav
    ul.nav.nav-fill.nav-pills
        li.nav-item
            a.nav-link(href='../') Home
        li.nav-item
            a.nav-link(href='../guitars') Guitars
        li.nav-item
            a.nav-link(href='#') What's Near Me?
        li.nav-item
            a.nav-link(href='users/profile') Profile
        li.nav-item
            a.nav-link(href='auth/logout') Logout