extends layout

block content
    .jumbotron
        h1.display-3 Hello Guitar Lovers
        p.lead
            | Helping players with what they love
        if(!User)
            p.lead
                a.btn.btn-primary.btn-lg(href='/auth/login/github', role='button') Log in