extends layout

block content
    .jumbotron
        h1.display-3 Hello Guitar Lovers
        p.lead
            | Helping players with what they love
        p.lead
            a.btn.btn-primary.btn-lg(href='#', role='button') Log in
