body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("../images/background.jpeg");
    background-size: cover;
}

.nav-item {
    padding-left: 5px;
    margin: 4px 4px;
    background-color: silver;
    border-radius: 25px;
    text-shadow: 1px 1px black;
    opacity: 0.85;
}

.nav-pills {
    padding-left: 10px;
}

.nav {
    clear: both;
}

.jumbotron {
    margin-top: 50px;
    background-image: url(../images/jumbotron.jpeg);
    background-size: cover;
    color: white;
    text-shadow: 2px 1px #1d1e1f;
}

.container {
    color: white;
}

a {
    color: white;
}


