body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("../images/background.jpeg");
    background-size: cover;
}

.nav-item {
    padding-left: 5px;
    margin: 4px 4px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, lightgoldenrodyellow, darkgoldenrod); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, lightgoldenrodyellow, darkgoldenrod); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, lightgoldenrodyellow, darkgoldenrod); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, lightgoldenrodyellow, darkgoldenrod); /* Standard syntax */
    border-radius: 25px;
    text-shadow: 1px 1px black;
    box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
}

.nav-pills {
    padding-left: 10px;
}

.nav {
    clear: both;
}

.jumbotron {
    margin: 50px auto auto;
    background-image: url(../images/jumbotron.jpeg);
    background-size: cover;
    color: white;
    text-shadow: 2px 1px #1d1e1f;
    min-height: 500px;
}

.container {
    color: white;
}

a {
    color: white;
}

#carouselExampleIndicators {
    margin-top: 50px;
    box-shadow: 10px 10px 70px 0 rgba(0,0,0,0.75);
}

.profile {
    margin: 50px auto auto;
    width: 50%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


